<!DOCTYPE html>
<html lang="EN">
<head>
    <link rel="icon" href="https://www.zuehlke.com/themes/custom/base/dist/favicons/favicon.ico" type="image/x-icon">
    <title>Angular Course - Foundation</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
{{ content }}
</body>
</html>